/conf/gui.xml
/doc/*.html
/doc/html
/doc/pdf
/log
/plugins/*.jar
/plugins/SUT
/reports
/tools/jython/lib/cachedir
/tools/jython/lib/Lib/**/*.class
/tools/TestProcedureDoc/*.class
/tools/TestScriptDoc/*.class
/release.properties
.idea
target
Version.txt
*.iml
